   table {
       table-layout: auto;
       border: 3px solid black;
       width: 10%;
       border-collapse: collapse;
       justify-content: center;
       text-align: center;
   }
   
   hr {
       padding: 30px;
       margin-top: 30px;
   }
   
   .group {
       padding: 10px;
       margin: 40px;
   }
   
   td,
   th {
       border: 3px solid black;
   }
   
   .number {
       padding: 3px;
   }
   
   img {
       width: 200;
       height: 200;
       float: right;
   }
   
   .un>th {
       padding-left: 85px;
   }